.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E76F51;
}

button {
  font-size: 24px;
  font-weight: 600;
}

img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin: 5px;
}

p {
  margin: 0px 10px;
  border-radius: 5px;
}


/* SIGN IN */
.signInTitle {
  font-size: 150px;
  color: #264653;
  margin: 40px;
}

.signIn {
  background-color: #F4A261;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #264653;
  color: #264653;
  cursor: pointer;
}


/* CHAT ROOM */
.signOut {
  background: none;
  border: none;
  color: #264653;
  position: absolute;
  top: 20px;
  right: 20px;
}

.chat {
  background-color: #264653;
  padding: 20px;
  height: 600px;
  width: 1000px;
  border-radius: 10px;
  border: 2px solid #264653;
  box-shadow: 0px 0px 10px #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.messages {
  width: 100%;

}

.messageForm {
  width: 100%;
}

.message {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  background-color: #F4A261;
  padding: 20px;
}

.received p {
  background-color: #3A5763;
  padding: 20px;
  color: white;
}

.messageForm {
  background-color: #264653;
  height: 50px;
  width: 700px;
  border-radius: 10px;
  border: 2px solid #264653;
  box-shadow: 0px 0px 10px #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sendMessage {
  background: none;
  border: none;
  margin: 0px 5px;
}

.messageInput {
  background: none;
  border: none;
  width: 650px;
  height: 40px;
  margin: 0px 5px;
  color: white;
  font-size: 30px;
}

input:focus {
  outline-width: 0;
}